<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ASCII Art Web</title>
    <link rel="stylesheet" href="/templates/styles.css">
</head>

<body class="bg-gradient-to-r">
    <div class="bg-white p-3 rounded-full font-semibold m-4 shadow-lg">
        <h1 class="text-3xl bg-clip-text text-transparent bg-gradient-to-r">ASCII Art Project</h1>
    </div>
    <div class="flex justify-center flex-col items-center text-center w-full ">
        <form action="/" method="get" class="shadow-lg rounded-lg p-4 w-1/3 flex bg-white flex-col gap-4 m-4">
            <h1 class="text-8xl font-semibold text-center bg-clip-text text-transparent bg-gradient-to-r">500</h1>
            <h1 class="text-3xl">Sorry! Our fault</h1>
            <p>An internal server error occurred. Please try again.</p>
            <p>Error: {{.Error}}</p>
            <input class="shadow-lg p-2 font-semibold text-white rounded-md cursor-pointer bg-gradient-to-r" type="submit" value="Go Home">
        </form>
    </div>
</body>

</html>
